<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StaticInfoAddress" value="http://198.27.6.3:27010/"/>
    <!--<add key="StaticInfoAddress" value="http://192.168.9.222:27010/"/>-->
    <add key="StorageHostPort" value="50101"/>
    <add key="StorageFilePath" value="D:\视酷录像"/>
    <!--最低磁盘剩余空间大小，默认单位b,支持K,M,G-->
    <add key="HardDiskFreeSpaceInf" value="30.0G"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
